body{
margin:0;
text-align: center;
font-family: 'Merriweather', serif;

}
hr{
 border-style:none;
 border-top-style: dotted;
 border-color: grey;
 border-width: 5px;
 width: 5%;
}
h1{

margin-top: o;
font-family: 'Sacramento', cursive;


}
h2{

  font-family: 'Montserrat', sans-serif;
}
h3{

  font-family: 'Montserrat', sans-serif;
}

.top-container{
background-color: #d3f4ff;
position: relative;
padding-top: 100px;
}
.profile{
  margin: 0;
background-color: #b2dffb;

}
.education{
background-color: #f8fab8;
padding-top: 30;

}
.experience{

  background-color: #f57b51;
}
.contact-me{
background-color: #434e52;

}
.middle-container{
background-color: #b2dffb;
}
.bottom-container{
background-color: #434e52;
}
.top-cloud{
position: absolute;
right: 20%;
top: 10%;
}

.bottom-cloud{
position: absolute;
left: 10%;
bottom: 35%;
}
